.ant-table-thead tr th {
  color: #8b98a5;
  background-color: #fff;
  font-size: 0.8rem;
  /* font-weight: 600; */
  /* padding-left: 0; */
}
.ant-table-tbody tr td {
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 1.43;

}
.ant-picker-cell {
  height: 24px !important;
  margin: 1px;
}

.ant-upload-list-item {
  height: 350px!important;
}

.ant-upload.ant-upload-drag {
    border: none;
    background: none;
}
.ant-message-custom-content{
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
/*.ant-message-notice-content.span{*/
/*    !*padding: 10px;*!*/
/*}*/

@media screen and (max-width: 1600px) {
.avatar-uploader .ant-upload.ant-upload-select-picture-card {
    width: 400px;
    height: 200px;
  }
}
.image .ant-modal-body {
    padding: 0;
}
.ant-image-preview-img {
  top: 0!important;
    height: 600px;
    margin: auto;
    /* height: 500px; */
    margin-top: -20%;

}
