@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Black";
    src: url(../public/fonts/ZonaPro-Black.ttf);
  }
  @font-face {
    font-family: "Bold";
    src: url(../public/fonts/ZonaPro-Bold.ttf);
  }
  @font-face {
    font-family: "Light";
    src: url(../public/fonts/ZonaPro-Light.ttf);
  }
  @font-face {
    font-family: "Regular";
    src: url(../public/fonts/ZonaPro-Regular.ttf);
  }
  @font-face {
    font-family: "SemiBold";
    src: url(../public/fonts/ZonaPro-SemiBold.ttf);
  }
  @font-face {
    font-family: "Thin";
    src: url(../public/fonts/ZonaPro-Thin.ttf);
  }
}

.otp {
  width: 90% !important;
  height: 50px;
  border-radius: 7px;
  background-color: #f4f6f8;
  font-family: "SemiBold";
  font-size: 14px;
}

.outer__otp {
  justify-content: space-between;
}

.otp__focused {
  background-color: #22cda8;
  outline: none;
  color: white;
}

.md-input-main {
  @apply font-regular text-base w-full;
  width: 100%;
  font-size: 0.875rem;
  font-family: "regular";
}
.md-input-box {
  @apply relative;
  position: relative;
}
.md-input.login {
  @apply w-full;
  width: 100%;
  color: #33363b;
  padding-left: 42.5px;
  padding-top: 10px;
  background-color: #f4f6f8;
  outline: none;
  border-radius: 0.5rem;
  height: 3rem;
}
.md-input {
  @apply w-full;
  width: 100%;
  color: #33363b;
  padding-left: 16px;
  padding-top: 10px;
  background-color: #f4f6f8;
  outline: none;
  border-radius: 0.5rem;
  height: 3rem;
}
.md-label {
  @apply absolute pointer-events-none block;
  color: #8b98a5;
  display: block;
  position: absolute;
  pointer-events: none;
  transform-origin: top left;
  transform: translate(16px, -35px) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.md-label-focus {
  @apply text-primary;
  color: #21cda8;
  transform: translate(0, -65px) scale(0.75);
  transform-origin: top left;
}

.md-input-underline:after {
  @apply absolute left-0 right-0 pointer-events-none;
  position: absolute;
  left: 8px;
  right: 8px;
  pointer-events: none;
  bottom: -0.05rem;
  content: "";
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transform: scaleX(0);
  border-bottom: 2px solid #21cda8;
}
.md-input:focus ~ .md-input-underline:after {
  transform: scaleX(1);
}
.md-input:focus + .md-label,
.md-input:not(:placeholder-shown) + .md-label {
  @apply md-label-focus;
  color: #8b98a5;
  transform: translate(16px, -42px) scale(0.75);
  transform-origin: top left;
}

.react-calendar {
  width: 300px;
}

.react-calendar__tile {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-family: "regular";
  font-size: 14px;
  color: #33363b;
}

.react-calendar__tile--active {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #21cda8;
  color: white;
}

.react-calendar__month-view__weekdays {
  background-color: #f4f6f8;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: "semibold";
  font-size: 12px;
  text-align: center;
}

abbr:where([title]) {
  text-decoration: none;
}
.react-calendar__navigation {
  text-align: center;
  font-size: 14px;
  font-family: "bold";
  color: #21cda8;
  display: flex;
  height: 40px;
  border: 1px #f4f6f8 solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tooltip {
  font-family: "semibold" !important;
  font-size: 12px !important;
  color: black !important;
  box-shadow: 0 3px 0px 0 rgba(253, 205, 86, 1) !important;
  border-radius: 10px !important;
}

.tooltip.success {
  font-family: "semibold" !important;
  font-size: 12px !important;
  color: black !important;
  box-shadow: 0 3px 0px 0 rgba(34, 205, 168, 1) !important;
  border-radius: 10px !important;
}

.tooltip.warning {
  font-family: "semibold" !important;
  font-size: 12px !important;
  color: black !important;
  box-shadow: 0 3px 0px 0 rgba(253, 205, 86, 1) !important;
  border-radius: 10px !important;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  visibility: hidden;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  visibility: hidden;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
  color: #8b98a5;
}

.react-calendar__tile.react-calendar__month-view__days__day:disabled {
  color: #8b98a5;
}

.m-table {
  grid-template-columns: repeat(20, auto);
  justify-content: center;
}
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  